* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  justify-content: center;
}

.App {
  width: 317px;
  height: 780px;
  top: 44px;
  left: 116px;
  gap: 0px;
  opacity: 0px;
  background-color: #1a1b21;
  border-radius: 20px;
}

.Info > img {
  width: 317px;
  border-radius: 20px 20px 0px 0px;
}

.Info > h1 {
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  line-height: 30.26px;
  text-align: center;
}

.Info > h3 {
  font-family: Inter;
  font-size: 12.8px;
  font-weight: 400;
  line-height: 15.49px;
  text-align: center;
  color: #f3bf99;
}

.Info > h5 {
  font-family: Inter;
  font-size: 10.24px;
  font-weight: 400;
  line-height: 15.36px;
  text-align: center;
  padding-bottom: 10px;
}
.Info > h5 > a {
  color: white;
}

.Info .btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Info .btns > button {
  margin: 10px;
}

.btn-email,
.btn-linkedIn {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 9px;
  text-align: left;
  margin-right: 10px;
}

.btn-email {
  color: black;
  background-color: #ffffff;
}

.btn-email .icon {
  margin-right: 7px;
}

.btn-linkedIn {
  background-color: #5093e2;
}

.btn-linkedIn .icon {
  margin-right: 8px;
}

.about > h3 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.about {
  padding: 30px;
  font-family: Inter;
  font-size: 10.24px;
  font-weight: 400;
  line-height: 15.36px;
  text-align: left;
}

.interests {
  padding: 30px;
  padding-top: 0px;
  font-family: Inter;
  font-size: 10.24px;
  font-weight: 400;
  line-height: 15.36px;
  text-align: left;
  padding-bottom: 0px;
}
.interests > h3 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1a1b21;
  height: 64px;
  padding: 50px 50px 30px 50px;

  border-radius: 0px 0px 20px 20px;
}

.footer > a > svg {
  color: gray;
  font-size: 25px;
}
